{% extends "wagtailadmin/login.html" %}

<!--  Overrides  welcome message in the admin login page  -->
{% block branding_login %}Crystal CMS{% endblock %}

<!--  Overrides login page, adds content before/after login form in login page  -->
{% block above_login %} Above content {% endblock %}
<!-- {% block below_login %} Below content {% endblock %} -->

<!-- Completely customize login form  -->
{% block login_form %}
    <p>Some extra form content</p>
    {{ block.super }}
{% endblock %}

<!-- Adds fields to login form -->
{% block fields %}
    {{ block.super }}
    <li class="full">
        <div class="field iconfield">
            Two factor auth token
            <div class="input icon-key">
                <input type="text" name="two-factor-auth">
            </div>
        </div>
    </li>
{% endblock %}