{% block menu_item %}
{% load wagtailcore_tags wagtailimages_tags %}

<li class="nav-item {% if value.children %} dropdown {% endif %}">
    <a {% if value.children %} class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="bye" aria-haspopup="true" aria-expanded="false" role="button" {%else%} class="nav-link" href={{value.link}} {% endif %}>
        {% if value.display_text %}
            {% block display_text %}
                {{value.display_text}}
            {% endblock %}

        {% else %}
            {% block logo %}
                {% image value.logo original %}
            {% endblock %}
        
        {%endif%}
    </a>
    {% if value.children %}
        <div class="dropdown-menu" aria-labelledby="bye">
        {% for child in value.children %}
            <a class="dropdown-item" href="{{child.value.link}}">{{ child.value.display_text }}</a>
        {% endfor %}
        </div>
    {% endif %}
</li>

{% endblock %}