{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load static %}

{% block content %}
    
    {% include "blog/navbar.html" %}

    <div class="container"> 
        <div class="row">
            
            <!-- 
                BLOG CONTENT
                post, title, date, categories...
             -->
            <div class="col-8 blog-content">
                <h1 style="text-transform: uppercase">{{ page.title }}</h1>
                
                <div class="blog-information" style="display:inline; font-style:italic; font-size:14px">
                    <!-- CATEGORIES -->
                    <p>
                        {% with categories=page.categories.all %}
                            {% if categories %}
                                {% for category in categories %}
                                    {{ category.name }}
                                {% endfor %}
                            {% else %}
                                Categories
                            {% endif %}
                        {% endwith %}

                        <!-- AUTHOR -->
                        | {{ page.author }}

                        <!-- DATE -->
                        on {{ page.date }}
                    </p>
                </div>

                <!-- INTRODUCTION -->
                <!-- <div class="intro">{{ page.intro }}</div> -->

                <!-- 
                     BODY 
                    (w/c is made of streamfield blocks like heading, paragraph, image...etc) 
                -->
                {% for block in page.body %}
                    {% if block.block_type == 'heading' %} 
                        <h1>{{ block.value }}</h1>
                    {% elif block.block_type == 'image' %} 
                        {% image block.value original class="img-fluid blog-img" %}
                    {% elif block.block_type == 'paragraph' %} 
                        <section class="block-{{ block.block_type }}" style="text-align:justify">
                            {% include_block block %}
                        </section>
                    {% else %}
                        <section class="block-{{ block.block_type }}">
                            {% include_block block %}
                        </section>
                    {% endif %}
                {% endfor %}

                <!-- DISPLAY BLOG'S IMAGE GALLERY -->
                <div class="row row-eq-height">
                    {% for item in page.gallery_images.all %}
                        <div class="col-4">
                            {% image item.image original class="img-fluid" %}
                            <div class="caption"> <p> {{ item.caption }} </p></div>
                        </div>
                    {% endfor %}
                </div>

                <!-- LINK TO REDIRECT BACK TO BLOG'S HOMEPAGE -->
                <p><a href="{{ page.get_parent.url }}">Return to homepage </a></p>
            </div>

            
            <!-- 
                SIDE CONTENT
                tags, more stories...
             -->
            <div class="col-4 side-content">
                {%if other_blogs%}
                    <div class="content-title"> <h4> More Posts <h4> </div>
                    {% for post in other_blogs %}
                        {% with post=post.specific %}
                            <div class="blog-container">
                                {% if post.thumbnail %}
                                    {% image post.thumbnail fill-220x160 %}
                                {% endif %}
                                <div class="blog-title"> <a href="{% pageurl post %}">{{ post.title }}</a></div>
                                <div class="blog-date"> {{ post.date }}</div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                {%endif%}

                <!-- DISPLAY BLOG'S TAGS -->
                <div class="content-title"> <h4> Tags </h4> </div>
                {% if page.tags.all.count %}
                    <div class="tags">
                        {% for tag in page.tags.all %}
                            <a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>    
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

