{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load static %}

<!-- BODY -->
{% block content %}

    <!-- MENU -->
    {% include "blog/navbar.html" %}

    <!-- HEADER PHOTO -->
    {% image page.header_photo fill-1920x700 class="header-photo img-fluid" %}

    <!-- FEATURED POSTS -->
    <div class="row" style="margin-top:3%">
        {% for post in blogpages %}
            {% with post=post.specific %}
                
            <div class="col-4">
                {% if post.thumbnail %}
                    {% image post.thumbnail fill-400x220 class="img-fluid" %}
                {% endif %}
    
                <p><a href="{% pageurl post %}">{{ post.title }}</a></p>
                <p>{{ post.date }}</p>
            </div>
            {% endwith %}
        {% endfor %}
    </div>

    <!-- FEATURED POST + ABOUT ME -->
    <div class="row" style="margin-top:3%">
        <div class="col-8">
            Featured Post
        </div>

        <div class="col-4">
            About Me
        </div>
    </div>
{% endblock %}

<!-- FOOTER -->
{% block footer %}
    <div class="footer d-flex flex-row align-items-center justify-content-around">
        <div class="p-2">{{ page.intro|richtext }}</div>
        <div class="p-2"></div>
        <div class="p-2">Subscribe to my Newsletter</div>
    </div>
{% endblock %}


