{% load wagtailcore_tags %}
{% load static%}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav nav-fill w-100">
        <div class="d-flex flex-row align-items-center justify-content-around">
          {% for item in page.navbar.menu_items %}
            <div class="p-2"> {% include_block item %} </div>
          {% endfor %}
        </div>
    </div>
  </div>
</nav>
            
