.content-title{
    text-transform: uppercase;
    text-align: center;
    /* background-color: darkred; */
    padding: 3px;
    color: black;
}

.side-content{
    text-align: center;
}

.blog-title a{
    text-transform: capitalize;
    font-weight: 600;
    color: black;
    font-size: 16px;
}

.blog-date{
    font-style: italic;
    font-size: 14px;
}

.blog-container{
    margin-bottom: 20px;
}

.tags{
    text-align: center
}

.blog-img{
    margin-bottom:20px    
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto; /* Set the fixed height of the footer here */
    background-color: #f5f5f5;
  }

  .header-photo{
    height:50%
  }

  body {
    margin-bottom: 5%;
  }

  html { 
      position: relative; 
      min-height: 100%; }